
<div class="container">

    <div id="timeline"><div class="row timeline-movement timeline-movement-top">

        <div class="timeline-badge timeline-filter-movement">
            <a href="#">
                <span class="glyphicon glyphicon-time"></span>
            </a>
        </div>

    </div>

        <!--due -->

        <div class="row timeline-movement" ng-repeat="node in tradepath.nodes">


            <div class="timeline-badge">
                <span class="timeline-balloon-date-month"><i class="glyphicon glyphicon-transfer"></i></span>
            </div>

            <div class="col-sm-6 timeline-item" ng-repeat="j in [1,2]"  ng-init="is_description=($index==1 && $parent.$index%2==0) || ($index==0 && $parent.$index%2!=0)">
                <div class="row">
                    <div ng-class="($index ==1) ? 'col-sm-offset-1 col-sm-11' : 'col-sm-11'" >
                        <div ng-attr-id="{{is_description? 'desc'+$parent.$index : $parent.$index}}"
                             ng-init="myid=$parent.$index"
                             ng-class="($index == 1) ?       ($parent.$index%2!=0)? 'timeline-panel debits' : 'timeline-panel descright debits'         :        ($parent.$index%2!=0)? 'timeline-panel descleft credits':'timeline-panel credits'" >
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">{{node.product.title}}</span></li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{node.tradedate}} </small></p> </li>
                                <li>

                                    <a ng-if="!is_description"  ng-mouseenter="prod_onenter(myid)"  ng-mouseleave="prod_onleave(myid)" class="thumbnail">
                                        <img class="tradepath_prodimg" src="http://demo.thedevelovers.com/dashboard/kingadmin-v1.3/assets/img/gallery/cuba-cup.jpg" alt="...">
                                    </a>
                                    <p ng-if="is_description">
                                        aslkdjalkjdjdlasjdlksadjlkasdasd<br/>
                                        aslkdjalkjdjdlasjdlksadjlkasdasd<br/>
                                        aslkdjalkjdjdlasjdlksadjlkasdasd<br/>
                                        aslkdjalkjdjdlasjdlksadjlkasdasd<br/>
                                        aslkdjalkjdjdlasjdlksadjlkasdasd<br/>
                                        aslkdjalkjdjdlasjdlksadjlkasdasd<br/>
                                        aslkdjalkjdjdlasjdlksadjlkasdasd<br/>
                                        aslkdjalkjdjdlasjdlksadjlkasdasd<br/>

                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>






        </div>

    </div>
</div>