#sidebar #menu a div.icon {
    background: #ff69b4 !important;
    color: #cc3681 !important;
}
#sidebar #menu a div.title {
    background: #fff !important;
    color: #7f8c8d !important;
}
#sidebar #menu a.active div.title, #sidebar #menu a div.title:hover {
    margin-left: -4px !important;
    color: #ecf0f1 !important;
    background: #ff69b4 !important;
}