#sidebar #menu a div.icon {
    background: #e74c3c;
    color: #c0392b;
}
#sidebar #menu a div.title {
    background: #fff;
    color: #7f8c8d;
}
#sidebar #menu a.active div.title, #sidebar #menu a div.title:hover {
    margin-left: -4px;
    color: #ecf0f1;
    background: #e74c3c;
}