/*------------------------------------------------*/
/*	Trade Path application specific CSS  --- not for template!

/*------------------------------------------------*/

#tourbtn{
    position: fixed;
    top: 50%;
    left: -166px;
    height: 114px;
    z-index:9999;

}
#tourbtn button{
    background-color: white;
    border: 2px solid;
}
#tourbtn button i{
    margin-left: 10px;
}
#tourbtn button,#tourbtn button i{
    font-size: 28px;
    color: #b2d231;
}


.modal-category{
    width:800px;
}

.btnlike{
    color:#b2d231;
}
.likesbtn_cur{
    color:#b2d231 !important;
}

.btnunlike{
    color:gray;
}

.blog-item img {
    position: relative;
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.blog-item-description .ownernm {
    font-family: 'Oswald';
    color: #b2d231;
    font-size: 16px;
    font-weight: 400;
    display: block;
}
.blog-item {
    border-radius: 5px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFFFF;
    border-color: lightgrey;
}

.blog-item > .blog-item-description {
    padding: 20px;
    border-bottom: 1px solid #DCDCDC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
}

.blog-item-quote {
    background-image: url('../img/quote.png');
    background-repeat: no-repeat;
    background-position: 95% 10%;
    background-color: white;
    margin-top: 25px;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}
.blog-item-quote2 {
    background-image: url('../img/quote.png');
    background-repeat: no-repeat;
    background-position: 0% 10%;
    background-color: white;
    margin-top: 25px;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}
.blog-item-quote .post-date {
    font-family: 'Oswald';
}
.blog-item-quote .comment {
    float: right;
}
.blog-item-quote p {
    font-style: italic;
    font-size: 18px;
}
.blog-item-quote .post-date {
    color: #b2d231;
    font-size: 16px;
    font-weight: 400;
    display: block;
}
.blog-item-quote .autor {
    color: #43474d;
    font-family: 'Oswald';
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.blog-item-quote .tags {
    font-style: italic;
    display: block;
}



.bottom-border {
    height: 8px;
    margin-top: -4px;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}