/** Add css rules here for your application. */
.toplevel{
/* 	position:absolute; */
/* 	left:10%; */
}


#container {

}

#center {
  width: 500px;
}
#left {
 float: left;
}
#right {
  float:right;
}


.number_input{
	width: 100px;important!
	height: 41px;important!
	margin-top: 12px;important!
}

.dropdownlist{
	display: block;
	background: white;
	margin-top: 10px;
	border-color: white;
}



.list{
	
	
	width: 260px;
	border:solid 1px #CCCCCC;
	
}

.header{
	

	width: 260px;
	
}

.content{
	margin-top:10px;
}
.detail {
		border:solid 1px #CCCCCC;
	

	
}
.totalprice{
	margin-top:25px;
	margin-left:30px;
}
.eventdetail {	
/* 	position:absolute; */
/* 	top: 55px; */
/* 	left:300px; */
	width:300px;
	margin-top:25px;
	margin-left:25px;
}
