<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 
<hibernate-configuration>
    <session-factory>
        <mapping class="com.tianshao.cuige.domains.user.User" />
		<mapping class="com.tianshao.cuige.domains.product.Category" />
        <mapping class="com.tianshao.cuige.domains.product.Product" />
        <mapping class="com.tianshao.cuige.domains.product.Image" />
        <mapping class="com.tianshao.cuige.domains.trade.Trade" />
        <mapping class="com.tianshao.cuige.domains.trade.Message" />
        <mapping class="com.tianshao.cuige.domains.notification.Notification" />

    </session-factory>
	    
</hibernate-configuration>